{% extends 'base.html.twig' %}

{% block title %}Dashboard!{% endblock %}

{% block stylesheets %}
    <style>
        .fa-exclamation-circle{
            color: red
        }
    </style>
        
{% endblock %}

{% block body %}


<div class="example-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Mes abonnements ✅</h1>
        
                {% for facture in mesFactures %}
                     - {{ facture.cartSubscription.nameSubscriptionPlan }} <a href="{{path('account_livraison_suspendre', {id: facture.id})}}">Suspendre</a>
                     {% if facture.isPaused %}
                        <i class="fas fa-exclamation-circle"></i>
                     {% endif %}
                     
                    </br>
                {% endfor %}
            </div>
            <div class="col-md-6">
                <h1>Mes paniers sur mésure </h1>
        
                {% for favoriteCart in mesFavoriteCarts %}
                     - {{ favoriteCart.name }} <a href="{{path('accout_favorite_cart_show', {id: favoriteCart.id})}}">Explorer</a>
                    </br>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6"></div>
        </div>

    </div>


</div>
{% endblock %}
