{% extends 'base.html.twig' %}

{% block title %}Login !{% endblock %}

{% block body %}

				{{ form_start(formReg)}}
				{{ form_row(formReg)}}
					<button class="btn btn-success mt-5" type="submit"> S'inscrire</button>

				{{ form_end(formReg)}}
{% endblock %}
