{% extends 'base.html.twig' %}

{% block title %}Inscription {% endblock %}

{% block body %}
	<div class="container">
		{{ form_start(formReg)}}
		<div class="row d-flex justify-content-between">
			<div class="col-md-6 col-sm-12">
				{{ form_row(formReg)}}
					<button class="btn btn-success mt-5" type="submit"> S'inscrire</button>
				{{ form_end(formReg)}}
			</div>
		</div>
	</div>

{% endblock %}
