{% extends 'base.html.twig' %}

{% block title %}Condition générale de vente{% endblock %}

{% block stylesheets %}
    <style>
        #header {
            position: relative !important;
        }

        body{
            z-index: 10;
            background-image: url('/biolife/assets/images/home-01/main-slide-02.png');
            background-position: center center;
            background-size: cover;
        }
        .bg-glass2{
            background-color: white;
            border-radius: 1rem;
            padding: 40px 40px;	
        }

        .block-01 h1{
            padding-top: 15px;
            font-weight: bold;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="demeter-container my-5">
        <div class="block-01">
            <div class="container">
                <div class="bg-glass2">

                    <span class="h1 text-center fw-bolder">Condition générale de vente</span>

                    <h1>CGV en vigueur 11 mars 2022 - <a href="http://www.nature-en-vie.fr/"> http://www.nature-en-vie.fr/</a></h1>
                    <h3>La société Potager City au capital de ______ est immatriculée au ______ sous le n°_________. Elle exploite ___________ un site Internet accessible à l’adresse <a href="http://www.nature-en-vie.fr/"> http://www.nature-en-vie.fr/</a></h3>
                    <h3>En utilisant le Service proposé par Natur’en Vie, vous acceptez l’ensemble des conditions générales de vente telles que mentionnées ci-après. Vous serez en mesure de prendre contact à l’adresse :</h3>
                    <h3>La société Natur’en Vie, Les Rondard 03210 Marigny, à responsabilité limitée au capital de _______ € au  RCS de sous le n°________. Cette information figurera systématiquement sur ka facture justifiant chaque commande.   </h3>
                    
                    <h1>Définitions</h1>
                    <h3>Chaque mot ou expressions de la liste ci-après aura, lorsqu’il ou elle sera employé(e) avec une majuscule dans le présent contrat, au singulier ou au pluriel, la signification suivante : </h3>
                    <h3>« Commande » : se réfère au contrat de vente conclu entre le Consommateur et Natur’en Vie par l’intermédiaire du Site <a href="http://www.nature-en-vie.fr/">http://www.nature-en-vie.fr/</a> </h3>
                    <h3>« Conditions Générales de Vente et d’utilisation » : se réfère aux conditions générales de vente des produits et services accessibles à l’adresse <a href="http://www.nature-en-vie.fr/">http://www.nature-en-vie.fr/</a> et/ou lors de la confirmation d’une commande.</h3>
                    <h3>« Consommateur » : se réfère à toute personne physique, majeure et en pleine fonction de ses capacités intellectuelles, passant une Commande sur le Site <a href="http://www.nature-en-vie.fr/">http://www.nature-en-vie.fr/</a> </h3>
                    <h3>« Service » : se réfère à la vente et distribution des produits commandés par les consommateurs, effectuées par la société Natur’en Vie au moyen du site <a href="http://www.nature-en-vie.fr/"> http://www.nature-en-vie.fr/</a></h3>

                    <h1>A. Objet</h1>
                    <h3>Les présentes Conditions Générales de Vente et d’utilisation ont pour objet de définir les termes et conditions que Natur’en Vie soumet au Consommateur lors de l’achat des produits ou services, au moyen du site <a href="http://www.nature-en-vie.fr/">http://www.nature-en-vie.fr/</a> </h3>

                    <h1>B. Inscription</h1>
                    <ol>
                        <li>Quand le Consommateur passe sa première commande, il ou elle effectue une inscription en remplissant un formulaire disponible sur le Site <a href="http://www.nature-en-vie.fr/">http://www.nature-en-vie.fr/</a>   </li>
                        <li>A cette occasion, le Consommateur s’engage à fournir des informations exactes complètes et actuelles. Il ou elle sera dans l’obligation d’actualiser ces dites informations, dans les plus brefs délais, directement en ligne, via son compte, le cas échéant. Natur’en Vie s’engage à protéger la confidentialité des informations fournies par le Consommateur, conformément à l’article de loi n°78-17 relative à l’informatique, aux fichiers et aux libertés. Celui-ci bénéficiera, cependant, d’un droit d’accès, de modification ou de suppression sur les données le concernant. En cas de manquement de la part du consommateur (informations fausse, incomplète ou obsolète), Natur’en Vie se réserve le droit, sans aucune indemnité et sans préavis, de suspendre ou de fermer le compte du Consommateur et de lui refuser pour l’avenir l’accès à tout ou partie des parties des produits ou services proposés par Natur’en Vie sans préjudice de la réparation que sans préjudice de la réparation que serait fondée à réclamer au titre du préjudice y afférent.</li>
                        <li>Lors de la validation de son inscription au Service, le Consommateur choisira un identifiant et un mot de passe qui lui permettront d’accéder au Service. Le Consommateur devra impérativement préserver la confidentialité de cet identifiant et de son mot de passe afin d’éviter toute utilisation non autorisée par un tiers. Le cas échéant, le Consommateur sera réputé responsable de toutes les violations des présentes Conditions Générales d’Utilisation commises par ledit tiers. Par ailleurs, toute utilisation du Service effectuée par l’intermédiaire du mot de passe du Consommateur sera imputée à ce dernier. Natur’en Vie ne pourra être tenu responsable de toute perte ou dommage survenu en raison du manquement aux obligations de confidentialité incombant au Consommateur.     </li>
                    </ol>
                   
                    <h1>C. Acceptation des conditions générales de vente</h1>
                    <ol>
                        <li>Le Service est proposé au Consommateur sous réserve de son acceptation inconditionnelle des présentes Conditions Générales de Vente. En validant son inscription au Service, le Consommateur déclare et reconnaît, en conséquence, avoir lu, compris et accepté sans réserve les présentes Conditions Générales de Vente.</li>
                        <li>Natur’en Vie se réserve le droit de modifier en tout ou partie et à tout moment les présentes Conditions Générales de Vente en informant préalablement le Consommateur desdites modifications, par publication des modifications sur le Site. Toutes les modifications seront effectives 30 jours après avoir été mises en ligne sur le Site. Il appartient en conséquence au Consommateur de se référer régulièrement à la dernière version des Conditions Générales de Vente disponible sur <a href="http://www.nature-en-vie.fr/.">http://www.nature-en-vie.fr/.</a>  Le Consommateur sera en droit de résilier son compte sans aucune pénalité dans les 30 jours suivant la notification ou la publication desdites modifications sur simple demande adressée à <a href="http://www.nature-en-vie.fr/">http://www.nature-en-vie.fr/</a>.  Il lui suffira de se de remplir un formulaire disponible sur le site. A défaut, le Consommateur est réputé accepter cette dernière version à chaque nouvelle Commande.  </li>
                        <li>En cas de non-respect des présentes Conditions Générales de Vente, Natur’en Vie se réserve le droit, sans aucune indemnité ni préavis, de suspendre ou fermer le compte du Consommateur et de lui refuser pour l’avenir l’accès à tout ou partie du Service, sans préjudice des différentes actions délictuelles ou contractuelles de droit commun qui pourraient lui être ouvertes.</li>
                    </ol>
                 
                    <h1>D. Abonnement</h1>
                    <h3>Au moment de son inscription sur le Site, le Consommateur souscrit par défaut à un abonnement hebdomadaire d’une durée indéterminée. En d’autres termes, du panier sera automatiquement reconduite chaque semaine, sauf si </h3>
                    <ol>
                        <li>le Consommateur suspend l’abonnement à partir de son compte, au plus tard deux jours calendaires avant le jour prévu de la prochaine livraison. Le Consommateur sera en mesure de réactiver l’abonnement à tout moment à partir de son compte.
                            <ul>
                                <li>le consommateur annule la prochaine livraison à partir de son compte, au plus tard deux jours calendaires avant le jour prévu de la prochaine livraison. Par conséquent :</li>
                                <li>Si la livraison est prévue le mardi, la suspension ou l’annulation devra être confirmée avant le dimanche précédent à 23h59.</li>
                                <li>Si la livraison est prévue le mercredi, la suspension ou l’annulation devra être confirmée avant le lundi précédent à 23h59.</li>
                                <li>Si la livraison est prévue le jeudi, la suspension ou l’annulation devra être confirmée avant le mardi précédent à 23h59.</li>
                                <li>Si la livraison est prévue le vendredi, la suspension ou l’annulation devra être confirmée avant le mercredi précédent à 23h59.</li>
                            </ul>
                        </li>
                        <li>A défaut de suspension de l’abonnement ou d’annulation de la prochaine livraison dans les conditions susmentionnées, la prochaine livraison ne fera l’objet d’aucun remboursement au Consommateur. Ainsi, la suspension de l’abonnement ne prendra effet qu’après ladite date de livraison.</li>
                        <li>Le Consommateur a la possibilité de reprendre l’abonnement à tout moment à partir de son compte.</li>
                        <li>Le Consommateur a la possibilité de commander ponctuellement des paniers complémentaires à son abonnement sur le Site dans les conditions décrites à l’article E des présentes Conditions Générales de Vente et d’utilisation. Ce service est totalement libre et gratuit, sous réserve du paiement du seul prix des paniers commandés.</li>
                    </ol>
                   
                    <h1>E. Processus de commande</h1>
                    <ol>
                        <li>Dans le cas où le Consommateur dispose d’un abonnement actif, il a la possibilité de commander chaque semaine des paniers pour compléter son abonnement. Ce dernier aura à sa disposition le catalogue des produits proposés à la vente pour sélectionner ceux  qu’il souhaite ajouter à la prochaine livraison prévue en cliquant sur le bouton « Ajouter à ma commande ». Lesdits produits seront automatiquement ajoutés à la Commande faisant l’objet de la prochaine livraison prévue, sous réserve que l’ajout desdits produits ait été effectué au moins 2 jours calendaires avant la prochaine livraison prévue.</li>
                        <li>Dans le cas où le Consommateur aurait suspendu son abonnement, le Consommateur a la possibilité de passer une Commande ponctuelle. Ainsi, le ce dernier aura la possibilité choisir parmi le catalogue des produits proposés à la vente celui ou ceux qu’il souhaite acheter en cliquant sur le bouton « Ajouter à ma commande ». Il sera ensuite dans l’obligation de valider le contenu du panier.  </li>
                        <li>
                            Le Consommateur a la possibilité d’annuler librement la livraison de ses prochaines Commandes en se connectant à son compte. Il doit en faire la demande, au plus tard, deux jours calendaires avant le jour prévu de la livraison. Le cas échéant, la prochaine livraison ne fera l’objet d’aucun remboursement au Consommateur.
                            <ul>
                                <li>Si la livraison est prévue le mardi, l’annulation s’effectuera avant le dimanche précédent à 23h59.</li>
                                <li>Si la livraison est prévue le mercredi, l’annulation s’effectuera avant le lundi précédent à 23h59.</li>
                                <li>Si la livraison est prévue le jeudi, suspension s’effectuera avant le mardi précédent à 23h59</li>
                                <li>Si la livraison est prévue le vendredi, s’effectuera avant le mercredi précédent à 23h59.</li>
                            </ul>
                        </li>
                        <li>Le Consommateur reconnaît avoir lu, compris  et avoir accepté les conditions générales de vente. Les paniers proposés par Natur’en Vie sont annoncés avec une fourchette de poids la plus précise possible. Cependant, les aléas de production et l’utilisation de produits non calibrés peuvent faire varier les poids annoncés de quelques centaines de grammes. Il est à noter que les photos et mises en avant graphiques ne sont pas contractuelles.</li>
                        <li>Les systèmes d’enregistrement automatique des Commandes mis en œuvre par Natur’en Vie sont expressément admis comme valant preuve de la nature, du contenu, du prix et de la date de la Commande par le Consommateur.</li>
                        <li>Dès réception de la Commande, le consommateur reçoit un courrier électronique, lui confirmant la Commande ainsi que son montant total. Il est à noter que le contrat de vente ne prend effet qu’à compter de la confirmation de la Commande par Natur’en Vie.  </li>
                        <li>Dans l’éventualité où l’un des produits ou services objets de la Commande ne serait plus disponible à la vente, Natur’en Vie en avertira aussitôt le consommateur via courrier électronique ou appel téléphonique. Le Consommateur aura ainsi possibilité de demander dans un délai indiqué par la Société dans le courrier électronique ou lors de l’appel, le remplacement dudit produit par un produit équivalent, au même prix, proposé par Natur’en Vie.</li>
                        <li>Le consommateur n’est pas autorisé à revendre les Produits. Toute Commande passée par un Consommateur est pour son usage personnel ou pour l’usage personnel de la personne au nom de laquelle la livraison doit être effectuée. </li>
                    </ol>
    
                    <h1>F. Modalités de paiement</h1>
                    <ol>
                        <li>Le paiement des produits et services achetés par le Consommateur à Natur’en Vie s’effectue par carte bancaire, dans un environnement sécurisé sur le serveur du prestataire de paiement de Natur’en Vie. La devise utilisée pour le paiement des Produits achetés par le Consommateur est l’Euro.</li>
                        <li>Suite à la confirmation de la commande par le Consommateur, les coordonnées bancaires communiquées par le Consommateur auprès du serveur du partenaire de paiement de Natur’en Vie utilisées par ledit partenaire de paiement afin de vérifier au premier Euro la solvabilité du compte bancaire correspondant aux coordonnées bancaires communiquées par le Consommateur. Dans l’hypothèse où le compte du Consommateur ne serait pas provisionné, Natur’en Vie aura pourra la possibilité de refuser la Commande. Par conséquent le contrat de vente ne pourra pas s’appliquer aux deux parties : il sera nul et no avenu. Cependant, lorsque la commande validée par Natur’en Vie, le compte bancaire du Consommateur est débité le jour de la livraison de la commande de la somme correspondant aux produits et services de sa Commande. </li>
                        <li>Le Consommateur a la possibilité d’utiliser d’éventuels coupons de réduction. Ces derniers sont régis par des règles d’utilisation, pouvant varier en fonction des conditions : sur un modèle de commande, avec un montant minimum de commande, uniquement sur la première commande, … Dans le cas où le Consommateur se heurte à un blocage d’application de coupon suite une règle, il en sera averti par un message d’information qui stipule la raison du blocage.</li>
                    </ol>

                    <h1>G. Remise des produits</h1>
                    <ol>
                        <li>Le Consommateur qui a commandé doit être présent lors de la livraison, au lieu, date et créneau horaire choisis lors de sa Commande afin de réceptionner sa Commande.</li>
                        <li>Lors de la remise, le Consommateur doit être en mesure de justifier son identité et de fournir la référence de sa Commande figurant sur la confirmation envoyée par Natur’en Vie. Le Consommateur s’engage éventuellement à signer le bon d’émargement présenté par la personne chargée de la livraison. En signant le bon d’émargement, le Consommateur reconnaît avoir reçu les Produits objets de sa Commande. Il est à noter que le Consommateur a la possibilité de reporter sur le bon d’émargement toute mention qui lui semblerait nécessaire. Si le Consommateur n’est pas en mesure de recevoir personnellement les Produits qu’il a commandés, il pourra donner procuration à un tiers de réceptionner la livraison. Il incombera à ce dernier signer le bon d’émargement et de noter toute remarque utile sur ce dernier. de   </li>
                        <li>Dans l’hypothèse où Natur’en Vie se trouve dans l’impossibilité de respecter les délais prévus, la société en informera le Consommateur par le biais du courrier électronique ou téléphone.</li>
                    </ol>

                    <h1>H. Responsabilité et garantie</h1>
                    <ol>
                        <li>Le Consommateur demeure seul juge du contenu approprié et adapté des produits ou services commandés à Natur’en Vie.</li>
                        <li>Le Consommateur est informé de ce qu’il ne pourra rechercher la responsabilité de Natur’en Vie au titre de la responsabilité du fait des produits défectueux que, conformément aux dispositions de l’article 1245 du Code civil, s’il justifie d’un défaut affectant le produit que lui aurait vendu Natur’en Vie, l’existence d’un préjudice spécifique, et d’un lieu de causalité entre ce défaut et ce préjudice.</li>
                        <li>Le Consommateur accepte de dégager Natur’en Vie, ses dirigeants, agents, préposés, prestataires ou employés, de toute responsabilité pour tous les préjudices résultant de l’utilisation du Site <a href="http://www.nature-en-vie.fr/">http://www.nature-en-vie.fr/</a>. A ce titre, et sans limiter la portée des autres dispositions des présentes Conditions Générales de Vente, Natur’en Vie ne peut notamment être considéré, hors le cas de sa faute directe, comme responsable des dommages résultant : de la perte, de l’altération ou de l’accès frauduleux à des données ; de la transmission accidentelle par le biais du service ou par voie de courrier électronique de virus ou d’autres éléments nuisibles ; de l’attitude, de la conduite ou du comportement d’un tiers ou d’un autre Consommateur ; de la non-conclusion d’une vente ou d’un achat ; du coût des biens ou services de remplacement.</li>
                        <li>Les réparations dues par Natur’en Vie en cas de défaillance qui résulteraient d’une faute établie à son encontre correspondront au seul préjudice direct. Ces dommages indirects sont ceux qui ne résultent pas directement et exclusivement de la défaillance des prestations de Natur’en Vie.</li>
                        <li>Natur’en Vie ne garantit pas que le Service proposé sera continu, sans interruption provisoire, sans suspension ou sans erreur. Natur’en Vie se réserve le droit de suspendre ou de retirer un bien ou un service, pour des raisons techniques et/ou en cas de violation des stipulations contractuelles et/ou des dispositions légales. Natur’en Vie ne peut engager sa responsabilité pour les dommages consécutifs à de tels faits.</li>
                    </ol>

                    <h1>I. Force majeure</h1>
                    <h3>Tous les événements, de quelque nature qu’ils soient, échappant à la volonté de Natur’en Vie, irrésistibles, imprévisibles et tendant à retarder ou à empêcher l’exécution de la Commande constituent, de convention expresse, une cause de suspension et/ou d’extinction des obligations de Natur’en Vie envers le Consommateur, sans indemnité au profit du Consommateur, qui ne pourra prétendre, le cas échéant, qu’au remboursement de sa Commande.</h3>

                    <h1>J. Données personnelles, Cookies</h1>
                    <ol>
                        <li>Les données personnelles fournies par le Consommateur lors de son inscription au Service sont soumises aux dispositions de la loi n°78-17 du 6 janvier 1978 relative à l’Informatique, aux fichiers et aux Libertés. Par conséquent, le Consommateur dispose du droit d’opposition prévu à l’article 26 de ladite loi, du droit d’accès prévu aux articles 34 à 38 de ladite loi, et du droit de rectification prévu à l’article 36 de ladite loi. Ces droits d’accès et de rectification peuvent être exercés par courrier électronique, via le formulaire de contact du site Internet. Natur’en Vie s’interdit de communiquer à des tiers les données personnelles recueillies sur le Consommateur. Par ailleurs, la société s’engage à ne pas les transférer pas en dehors de l’Espace Economique Européen.</li>
                        <li>La connexion à un serveur Internet a pour effet d’envoyer au navigateur un certain nombre de données qui sont stockées sur le disque dur de l’ordinateur du Consommateur. Les logiciels permettant de recueillir ces informations s’appellent des « cookies ». S’il le souhaite, le Consommateur a la possibilité de modifier son navigateur de façon à refuser les cookies. Cette manipulation n’empêchera pas la connexion sur le Site Natur’en Vie, mais pourra retarder les délais de chargement des pages et nécessitera une identification systématique du Consommateur lors de sa connexion au Site <a href="http://www.nature-en-vie.fr/"> http://www.nature-en-vie.fr/</a> par la communication de son login et de son mot de passe.</li>
                    </ol>

                    <h1>K. Propriété intellectuelle</h1>
                    <h3>Le code et l’agencement des pages, les textes, le logo et les personnages Natur’en Vie constituent une propriété exclusive de la société Natur’en Vie. Par conséquent, ces éléments sont protégés par la loi française et les lois internationales de protection de la propriété intellectuelle. Les marques «Natur’en Vie», et les logos et personnages «Natur’en Vie» sont des marques déposées. Leur reproduction constitue, alors, une contrefaçon.</h3>

                    <h1>L. Liens hypertextes</h1>
                    <ol>
                        <li>Le Site <a href="http://www.nature-en-vie.fr/"> http://www.nature-en-vie.fr/</a> se réserve le droit de créer des liens hypertextes dirigeant vers des sites Internet tiers ou d’autres sources Internet. Des tiers sont également en mesure de créer des liens hypertextes dirigeant vers le Site <a href="http://www.nature-en-vie.fr/"> http://www.nature-en-vie.fr/</a>. Dans la mesure où Natur’en Vie ne peut contrôler ces sites et ces sources externes, le Consommateur reconnaît que Natur’en Vie ne peut être tenu pour responsable de la mise à disposition de ces sites et sources externes. A ce titre, la société Natur’en Vie ne peut, être tenue pour responsable quant aux contenus, publicités, contenus, produits, services ou tout autre matériel disponibles sur ou à partir de ces sites ou sources externes. En outre, le Consommateur reconnaît que la société Natur’en Vie ne peut être tenue pour responsable de tous dommages ou pertes avérés ou allégués, consécutifs ou en relation avec l’utilisation ou avec le fait d’avoir fait confiance au contenu, à des biens ou des services disponibles sur ou à partir de ces sites ou sources externes.</li>
                        <li>Aucune responsabilité ne peut être retenue à l’encontre de Natur’en Vie quant au contenu des sites référencés inclus dans l’index, ni pour toute erreur ou omission contenue sur lesdits sites Internet, ni pour tout contenu non objectif, licite ou illicite diffusé sur lesdits sites Internet.</li>
                        <li>Le Consommateur reconnaît qu’il doit faire preuve de discernement et supporter tous les risques afférents à l’utilisation qu’il fait du contenu et, notamment, lorsqu’il se fie à l’opportunité, l’utilité ou le caractère complet de ce contenu, qu’il soit créé par Potager City ou par des tiers accessible à partir du Site <a href="http://www.nature-en-vie.fr/"> http://www.nature-en-vie.fr/</a>, par des liens et notamment par ses services de recherche.</li>
                    </ol>

                    <h1>M. Modification et interruption de service</h1>
                    <h3>Natur’en Vie se réserve le droit, à tout moment, de modifier ou d’interrompre de manière temporaire ou définitive tout ou partie du Service proposé pour des raisons techniques ou de mise en conformité du Consommateur avec les stipulations contractuelles ou les dispositions légales, et ce sans avoir à en informer préalablement le Consommateur. Le Consommateur ne peut engager la responsabilité de Natur’en Vie à raison des modifications et interruptions effectuées.</h3>

                    <h1>N. Résiliation pour faute du consommateur</h1>
                    <h3>En cas de violations ou d’agissements par le Consommateur contraires aux présentes Conditions Générales de Vente, Natur’en Vie peut mettre fin à tout ou partie du droit d’accès correspondant à son compte et son mot de passe, voire de supprimer son compte et son mot de passe ; et/ou retirer ou déplacer tout ou partie du contenu concernant le Consommateur et disponible sur le Site http://www.nature-en-vie.fr/; et/ou interrompre unilatéralement et à tout moment la fourniture du Service. La résiliation pour faute de l’accès au Service en application des termes des présentes Conditions Générales d’Utilisation peut intervenir sans mise en œuvre préalable. Le cas échéant, Natur’en Vie est en droit de désactiver ou supprimer à tout moment et avec effet immédiat son compte et tout dossier ou fichier présent dans ce compte et/ou interdire tout accès ultérieur à ces fichiers ou aux Services. Enfin, le Consommateur reconnaît que la société Natur’en Vie ne pourra être tenue pour responsable à son encontre ou à l’encontre de tiers pour toute résiliation de son accès au Service motivée par la violation des présentes Conditions Générales d’Utilisation et/ou de dispositions légales.</h3>
                    <h3>Tout usage abusif du coupon de parrainage personnel d’un client fera l'objet d'une suppression du crédit desdits coupons attribués, sans contestation. Le compte client pourra être supprimé temporairement ou définitivement.</h3>
                    <h3>Chaque consommateur est limité à un compte client par personne physique. Tout abus fera l’objet d’une suppression des doublons et comptes multiples d’une seule et même personne physique, sans contestation.</h3>

                    <h1>O. Résiliation par le consommateur</h1>
                    <h3>Le Consommateur qui souhaite résilier son abonnement compte peut en faire la demande via par notre le formulaire disponible à l’adresse suivante : <a href="http://www.nature-en-vie.fr/ferme/contact">http://www.nature-en-vie.fr/ferme/contact</a></h3>

                    <h1>P. Intégralité des engagements</h1>
                    <h3>Les présentes Conditions Générales de Vente se réfèrent à l’ensemble des termes de l’accord passé entre Natur’en Vie et le Consommateur en ce qui concerne l’utilisation du Service. Elles se substituent à tout accord éventuellement intervenu antérieurement entre Natur’en Vie et le Consommateur.</h3>

                    <h1>Q. Droit de rétractation</h1>
                    <h3>Compte-tenu du caractère périssable des fruits et légumes, le Consommateur ne pourra exercer de droit de rétractation, conformément aux dispositions de l’article L. 221-28 4° du code de la consommation. En effet, le délai de rétractation de 14 jours ne s’applique pas pour les contrats de fourniture de produits périssables, agroalimentaires, telles que les marchandises vendues par Natur’en Vie.</h3>
                    <h3>L’annulation doit survenir au plus tard deux jours avant le jour prévu de la livraison.</h3>
                    <ol>
                        <li>Si la livraison est prévue le mardi, suspension possible jusqu’au dimanche à 23h59.</li>
                        <li>Si la livraison est prévue le mercredi, suspension possible jusqu’au lundi à 23h59.</li>
                        <li>Si la livraison est prévue le jeudi, suspension possible jusqu’au mardi à 23h59.</li>
                        <li>Si la livraison est prévue le vendredi, suspension possible jusqu’au mercredi à 23h59. Toutefois le Consommateur pourra modifier ou annuler sa commande sous réserve que sa commande ne soit pas déjà en cours de préparation, dans les conditions prévues aux articles D et E des présentes Conditions Générales de Vente.</li>
                    </ol>
                    <h3>Si le panier est en cours de livraison ou a déjà été livré dans un point relais ou une entreprise, aucune modification ou annulation ne sera possible.</h3>

                    <h1>R. Divers</h1>
                    <h3>Le défaut d’exercice par Natur’en Vie des droits qui lui sont reconnus par les termes des présentes Conditions Générales d’Utilisation ne constitue pas une renonciation à faire valoir ses droits. Si une ou plusieurs dispositions des présentes Conditions Générales d’Utilisation sont déclarées nulles ou caduques par application d’une loi ou d’une décision judiciaire ou administrative, les autres dispositions conservent force obligatoire.</h3>

                    <h1>S. Loi applicable</h1>
                    <h3>Les présentes conditions générales de vente sont soumises au droit français.</h3>

                    <h1>T. Confidentialité et données personnelles</h1>
                    <h3>Dans le cadre de l’utilisation des supports numériques de Natur’en Vie par les Utilisateurs et les Consommateurs, Natur’en Vie est amené à collecter et traiter certaines données à caractère personnel les concernant.</h3>
                    <h3>Natur’en Vie met à disposition de ses Utilisateurs et ses Consommateurs une politique de confidentialité et des données personnelles.</h3>
                    <h3>Conformément à la réglementation relative à la protection des données à caractère personnel et en particulier le règlement Européen 2016/679 du 27 avril 2016, dit Règlement général sur la protection des données (le « RGPD »), les Utilisateurs et Consommateurs disposent d’un droit d’accès, de rectification, d’effacement, et à la portabilité des données les concernant et peuvent également, pour des motifs légitimes, s’opposer au traitement et, dans les cas prévus par la loi, demander la limitation du traitement de ces données. Pour exercer ces droits, Natur’en Vie invite chaque Utilisateur et Consommateur à contacter le service client en utilisant l’un de ces canaux de communication :</h3>
                    <ul>
                        <li>Par email à l’adresse ____________________</li>
                        <li>Par le biais du formulaire de contact : ____________ </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
