{% extends 'base.html.twig' %}

{% block title %}Le Demeter{% endblock %}

{% block stylesheets %}
    <style>
        #header {
            position: relative !important;
        }

        body{
            z-index: 10;
            background-image: url('/biolife/assets/images/home-01/main-slide-02.png');
            background-position: center center;
            background-size: cover;
        }
        .bg-glass2{
            background-color: white;
            border-radius: 1rem;
            padding: 40px 40px;	
        }

        .block-02 h1{
            padding-top: 15px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="demeter-container my-5">
        <div class="block-01 text-white">
            <div class="row">
                <div class="col">
                    <div class="container my-5">
                        <h3>Le Demeter, c’est quoi au juste ?</h3>
                        <h4>Le Demeter, c’est quoi ? Il s’agit ni plus ni moins que d’un label reconnu à l’échelle internationale. Il garantit que l’aliment concerné provienne d’une agriculture biodynamie. Par ailleurs, les transformations qu’il a éventuellement subies restent toujours de l’ordre du naturel. Chez Natur’en Vie, nous allons tout vous dire sur cet écolabel bientôt centenaire !</h4>
                        <h1>D’abord, un peu d’histoire…</h1>
                        <h2>La coopérative de producteurs Demeter voit le jour en 1937, sur les bases de la théorie de l’agriculture biodynamique de Rudolf Steiner. Mais ce sont Rosa et Konrad Oswald qui s’élèvent comme les pionniers de cette nouvelle méthode agriculturale en 1930. En effet, ils avaient alors transformé leur exploitation de Klarsreuti (Suisse) suivant les principes de la biodynamie.  </h2>
                        <h2 class="mt-3">Ce n’est qu’un peu plus tard que la biodynamie s’exporte à l’international et jouit peu à peu du succès que nous lui connaissons actuellement. Ainsi, en 1997, la Biodynamic Federation – Demeter International prend effet. Elle coordonne les actions juridiques et économiques de l’écolabel. </h2>
                        <h2 class="mt-3">Pour faciliter le pilotage des activités, la Fédération Demeter Suisse rassemble tous les domaines dans une seule et unique bannière. Les activités de production agricole, de transformation, de commerce et de relation clientèle se réunissent sont alors gérées par l’une des organisations suivantes :    </h2>
                        <ul>
                            <li> <span>L’Association pour la biodynamie</span>  qui gère la production, c’est-à-dire les producteurs</li>
                            <li> <span>La Communauté d’intérêt transformation & commerce – CI T&C – </span> qui s’occupe des titulaires de licence</li>
                            <li> <span>Le « Konsumenten-Verband » </span> » formé par les consommateurs convaincus des mérites de la qualité Demeter</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <img src="/assets/images/box.png" width="500"  alt="box_demeter" >
                </div>
            </div>
        </div>

        <div class="block-02">
            <div class="container">
                <div class="bg-glass2">
                    <h1>Une agriculture respectueuse de la nature</h1>
                    <h3>La biodynamie se refuse à sacrifier le sol et la nature au bénéfice de la production. Le principe de cette agriculture se fonde sur l’harmonie et l’interdépendance entre les espèces. En d’autres termes, sol, les plantes, les animaux et les humains font partie d’un tout appelé « cycle de la vie ». C’est en exploitant ces relations dans le respect des capacités et des spécificités de chaque élément que le producteur forge l’identité de sa ferme.</h3>
                    <h3>En termes d’élevage, la biodynamie garde des principes stricts voire intransigeants. En effet, pour ne pas endommager l’écosystème, ils limitent le nombre d’animaux selon les capacités des terres érables. De plus, les aliments fourragers ainsi que les engrais utilisés proviennent </h3>
                    <h3>de la ferme elle-même. Au vu de ces exigences, transformer la ferme devient alors une prérogative.    </h3>
                    
                    <h1>Un sol choyé</h1>
                    <h3>Tous les êtres vivants dépendent du sol pour survivre. Hommes, plantes ou animaux, en l'absence de notre terre nourricière, notre future semble bien sombre. C’est dans cette optique que l’agriculture biodynamique œuvre pour la préservation des sols de la manière suivante :</h3>
                    <h3>Elle utilise un compost dit « dynamisé », élaboré à partir d’éléments naturels notamment le fumier animal.</h3>
                    <h3>Elle procède à une rotation des cultures.</h3>
                    <h3>Elle privilégie les préparations biodynamiques.</h3>
    
                    <h1>Des fruits et légumes naturels et biologiques</h1>
                    <h3>Les fruits et légumes contribuent majoritairement à l’alimentation, autant humaine qu’animale. Mais les plantes servent à bien plus que cela. En effet, elles constituent des éléments incontournables des composts naturels. Ainsi, l’agriculture biodynamique utilise uniquement des :</h3>
                    <h3>
                        <ul>
                            <li>Variétés adaptées aux sols et au climat de l’exploitation</li>
                            <li>Sélections végétales d’origine biologique ou biodynamique. En d’autres termes, les variétés CMS ne peuvent être cultivées.   </li>
                        </ul>
                    </h3>
    
                    <h1>Aucune maltraitance animale tolérée</h1>
                    <h3>Les animaux d’élevage rendent des services méritoires à l’homme. Non seulement ils fournissent le lait, la viande, les œufs et le miel essentiels à notre alimentation. Mais nous le devons aussi les engrais à hautes valeurs fertilisantes, essentiels à nos cultures. En ce sens, ils méritent le respect. Les cahiers de charge Demeter s’assurent alors que les animaux de la ferme soient traités dans le respect de leur nature.</h3>
                    <h3>Leur alimentation provient majoritairement de la ferme elle-même.</h3>
                    <h3>Le bétail (bœuf, vache) garde leurs cornes.</h3>
                    <h3>Les sols sont préservés, en termes de maintien et d’amélioration de la fertilité, grâce à la garde de ruminants. Les fermes Demeter élèvent généralement des bovins, des moutons, des chèvres et/ou des chevaux.  </h3>
                    
                    <h1>L’homme, en harmonie avec la nature</h1>
                    <h3>La terre nourricière, les fermiers, les plantes et les animaux d’élevage sont interdépendants les uns des autres. Le Label Demeter veille à exploiter le sol de manière responsable et respectueuse de la nature. Autrement dit :  </h3>
                    <ul>
                        <li>Les cultures suivent les rythmes des saisons</li>
                        <li>Les cultures se conforment aux spécificités de l’environnement naturel (type de sol, climat, ...)</li>
                        <li>L’agriculture biodynamique devient une tâche socio-culturelle. Tous les acteurs participent activement à sa conception.</li>
                        <li>Les fermiers Demeter veillent à respecter l’équilibre qui réside entre les humains, le sol, les plantes et les animaux.</li>
                        <li>Tous les acteurs œuvrent ensemble selon les principes associatifs. De cette manière, chacun perçoit le juste prix pour ses efforts et sa production.</li>
                    </ul>
    
                    <h1>Des produits Demeter peu transformés, au plus proche du naturel</h1>
                    <h3>Il n’y a rien de tel que le naturel. Telle est la conviction du label Demeter. Pour préserver au mieux la grande force vitale présente dans les aliments biodynamiques, les processus de transformations sony soumis à des règles très strictes.</h3>
                    <h3>Aucun adjuvant ni additif ni processus destructeur de structures vitales ne sont tolérés.</h3>
    
                    <h4>- Le Lait Demeter est non homogénéisé</h4>
                    <h4>- Les viandes et charcuteries ne présentent aucun signe de sel nitrité</h4>
                    <h4>- Le sel ne contient pas d’iode ajouté</h4>
                    <h4>- Le jus ne provient pas de concentré : il reste pur</h4>
                    <h4>- Le miel garde constamment la température ambiante de la ruche</h4>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
                </div>
    
            </div>
        </div>
    </div>
{% endblock %}
