{% extends 'base.html.twig' %}

{% block title %}Professionnel{% endblock %}

{% block stylesheets %}

    <style>
        #header{
            position: relative!important;
        }

        .banner-01{
            background-image: url('/assets/images/test/bio-professionel-banner.webp');
            background-position: center;
            background-size: cover;
            display: flex;
            align-items: center;
            height: 96rem;
            overflow: hidden;
            position: relative;
        }

        .content-banner-01{
            max-width: 56em;
            margin-bottom: .75rem;
            padding-left: 6rem;
        }
        .content-banner-01 h1{
            font-size: 6rem;
            line-height: 1em;
            font-weight: 700;
            position: relative;
            z-index: 1;
        }
        .content-banner-01 h4{
            font-size: 2rem;
        }

        .content-banner-02 h1, .content-banner-02 h4{
            text-align: center;
            max-width: 59rem;
            margin: 0 auto 3.5rem auto;
            /* font-size: 1.875rem; */
            font-weight: 800;
            line-height: 1.25em;
        }

        .content-banner-03 .row .col-6{
            padding: 10px;
            font-size: 2rem;
        }
        .banner-03 i{
            font-size: 50px;
        }
        .content-banner-04 .row .col-3{
            padding:10px;
            font-size: 50px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="content-page">
        <div class="banner-01">
            <div class="content-banner-01 text-white">
                <h1> Des paniers de fruits et légumes livrés dans votre entreprise </h1>
                <h4> Potager City vous accompagne !</h4>
            </div>
        </div>
        <div class="banner-02 container-fluid">
            <div class="content-banner-02 text-center">
                <h1>Des paniers de fruits et légumes livrés au bureau… pour la maison !</h1>
                <h4>Potager City accompagne les entreprises de toutes tailles dans l'installation d'un point de retrait entièrement dédié à leur personnel. Les employés reçoivent, chaque semaine, des paniers de fruits et légumes livrés au bureau et peuvent bénéficier d'une participation offerte par votre entreprise. </h4>
                <div class="" style="height: 8rem;">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" viewBox="0 0 500 500" preserveAspectRatio="none" class="potager-wave__svg">
                        <path fill="#fff" d="M0 500L500 500C500 166.7 500 0 500 0 481.3 58.6 452.9 105.3 409.7 137.3 256.4 251 151.6 130.6 95.5 137.3 58.1 141.8 26.2 228.4 0 397.2L0 500Z"></path>
                    </svg>
                </div>
                <img class="img-fluid" src="/assets/images/test/packshot_entreprise_produits.jpg" alt="">
                <div class="" style="height: 9rem;">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" viewBox="0 0 500 500" preserveAspectRatio="none" class="potager-wave__svg">
                        <path fill="#fff" d="M0 460.3C60.4 515.6 110.1 513.1 148.9 453 209.6 358.9 296.2 256.3 377.2 256.3 426.1 256.3 467 195.9 500 75.2 500 75.2 500 50.4 500 1 500 1 333.3 0.7 0 0L0 460.3Z"></path>
                    </svg>
                </div>
            </div>
        </div>
        <div class="banner-03 container">
            <div class="content-banner-03">
                <h1 class="text-center fw-bold mb-5">On s'occupe de tout ! </h1>
                <div class="row">
                    <div class="col-6">
                        <i class="fa-solid fa-gift"></i>
                        La mise en place du service est gratuite
                    </div>
                    <div class="col-6">
                        <i class="fa-solid fa-rss"></i>
                        Il n'y a pas d’engagement
                    </div>
                    <div class="col-6">
                        <i class="fa-solid fa-user-check"></i>
                        Vous n’avez rien à gérer au quotidien, chaque salarié est autonome
                    </div>
                    <div class="col-6">
                        <i class="fa-solid fa-universal-access"></i>
                        Les employés bénéficient de tarifs préférentiels
                    </div>
                    <div class="col-6">
                        <i class="fa-brands fa-42-group"></i>
                        L'entreprise peut financer une partie des commandes des paniers de fruits et légumes pour ses employés (à partir de 3€ par commande)
                    </div>
                    <div class="col-6">
                        <i class="fa-solid fa-user-check"></i>
                        Et le plus important : vos collaborateurs sont contents !
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button class="mt-5 button button1">CONTACTEZ-NOUS</button>
                </div>
            </div>
        </div>

        <div class="banner-04 mt-5">
            <div class="content-banner-04">
                <h1 class="text-center fw-bold mb-5">Comment ça marche ?  </h1>
                <div class="row text-center ">
                    <div class="col-3">
                        <i class="fa-solid fa-user-check"></i> <br>
                        <h1>1 - Vos envies ?</h1>
                        <h4>Vous nous exprimez vos envies et pouvez définir un montant de participation par commande.</h4>
                    </div>
                    <div class="col-3">
                        <i class="fa-solid fa-gift"></i> <br>
                        <h1>2 - Installation</h1>
                        <h4>Nous installons le service de paniers de fruits et légumes dans votre entreprise. .</h4>
                    </div>
                    <div class="col-3">
                        <i class="fa-brands fa-42-group"></i> <br>
                        <h1>3 - Lancement </h1>
                        <h4>Nous organisons le lancement du service via différentes actions de communication (animation, dégustation). </h4>
                    </div>
                    <div class="col-3">
                        <i class="fa-solid fa-user-check"></i> <br>
                        <h1>4 - Commandes  </h1>
                        <h4>Chaque salarié passe ses commandes de fruits et légumes de saison en toute autonomie sur notre site. </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <img src="/assets/images/test/Fruit-and-Vegetable-Basket-panier-fruits-legumes-1.jpg" alt="bio logo" width="750">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

