{% extends 'base.html.twig' %}

{% block title %}Professionnel{% endblock %}

{% block stylesheets %}
    <style>
        #header {
            position: absolute !important;
        }

        #biolife-quickview-block {
            z-index: 9992!important;
        }
        
        .subscription-block{
            background-image: linear-gradient(#dba800, #dba800 , white);
        }

        .delivry-information{
            margin-top: 20%;
            position: relative;
        }
        .content-delivry-information{
            margin-top: -150px;
            padding-left: 67px;
        }
        .content-delivry-information h1{
            color: black;
        }
        .under-delivry-information{
            background-image: url('/assets/images/professionnel/fond-plateau.png');
            height: 2100px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            margin-top: -36px;
        }
        .under-delivry-information .plateau{
            background-image: url('/assets/images/professionnel/plateau.png');
            background-repeat: no-repeat;
            background-position: center top;
            background-size: 813px;
            padding-top: 100%;
        }
        .content-plateau{
            margin-top: -200vh;
        }
        .header-plateau h1{
            padding: 0 35%;
            margin-bottom: 2%;
            font-weight: 950;
        }
        .header-plateau h5{
            padding: 0 25%;
        }
        .under-header-plateau{
            margin-top: 3%;
            margin-left: 5%;
            margin-right: 5%;
        }
        #content-plateau-img1{
            width: 55%;
            height: 55%;
            margin-bottom: 2%;
            border-radius: 1em;
        }
        #content-plateau-img2{
            width: 55%;
            height: 55%;
            border-radius: 1em;
        }
        @media all and (min-width: 1600px){
            .content-plateau{
                margin-top: -172vh;
            }
            .under-delivry-information .plateau{
                background-size: 1020px;
            }
            #content-plateau-img1{
                width: 50%;
                height: 50%;
                margin-bottom: 2%;
            }
            #content-plateau-img2{
                width: 50%;
                height: 50%;
            }
        }

        .under-content-plateau{
            margin-top: 10%;
            padding: 0 9%;
        }
        .under-content-plateau h2{
            font-size: 42px;
            font-weight: 900;
            color: black;
        }
        .under-content-plateau span{
            color: black;
            font-size: 22px;
        }
        .under-content-plateau img{
            width: 60px;
        }
        .under-content-plateau .row{
            margin-top: 3%;
        }
        .under-content-plateau .row .col{
            padding-left: 10%;
        }

        .comment-ca-marche{
            margin: 0 3em;
            height: 400px;
        }
        .comment-ca-marche h1{
            font-weight: 900;
            font-size: revert-layer;
            margin: 57px 0;
        }
        
    </style>
{% endblock %}
{% block body %}

<body class="biolife-body">

    <!-- Page Contain -->
    <div class="page-contain">

        <!-- Main content -->
        <div id="main-content" class="main-content">

            <!-- Block 01: Delivry information -->
            <div class="delivry-information">
                <img src="/assets/images/professionnel/Fond-jaune.png" class="img-fluid">
                <div class="row">
                    <div class="col-5">
                        <div class="content-delivry-information">
                            <h1 class="text-black fw-bolder">De délicieux fruits et légumes bio livrés directement dans vos locaux !</h1>
                            <h2 class="text-white">Natur’en Vie vous prête ses services</h2>
                        </div>
                    </div>
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
            </div>
            <div class="under-delivry-information">
                <div class="plateau"></div>
                <div class="content-plateau">
                    <div class="header-plateau text-white text-center">
                        <h1>Des paniers bio remplis de bonnes choses à récupérer au bureau</h1>
                        <h5>Natur’en Vie travaille en partenariat avec les entreprises en vue d’installer des points de retrait à l’intention de leurs personnels. Chaque semaine, un panier de fruits et légumes bio est livré au bureau. Ainsi, les salariés n’ont plus qu’à récupérer le leur. Tout simplement !</h5>
                        <h5>Et parce que la santé et le confort de vos employés comptent, votre entreprise est en mesure de financer une partie de ce service.</h5>
                    </div>
                    <div class="under-header-plateau text-center">
                        <img src="/assets/images/professionnel/inside-photo-1.jpg" id="content-plateau-img1" alt="">
                        <img src="/assets/images/professionnel/inside-photo-2.jpg" id="content-plateau-img2" alt="">
                    </div>
                </div>
                <div class="under-content-plateau text-center">
                    <h2 class="text-center">Faites-nous confiance !</h2>
                    <div class="container mt-5">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col-2">
                                        <img src="/assets/images/professionnel/icone-1.png">
                                    </div>
                                    <div class="col-10">
                                        <span>Nous mettons GRATUITEMENT en place le service.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-2">
                                        <img src="/assets/images/professionnel/icone-4.png">
                                    </div>
                                    <div class="col-10">
                                        <span>Aucun engagement</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col-10">
                                        <span>Chaque salarié est libre de gérer ses commandes par lui-même : rien ne nécessite votre intervention.</span>
                                    </div>
                                    <div class="col-2">
                                        <img src="/assets/images/professionnel/icone-2.png">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-10">
                                        <span>Les employés bénéficient de tarifs préférentiels</span>
                                    </div>
                                    <div class="col-2">
                                        <img src="/assets/images/professionnel/icone-5.png">
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col-2">
                                        <img src="/assets/images/professionnel/icone-3.png">
                                    </div>
                                    <div class="col-10">
                                        <span>L’entreprise est en mesure d’offrir sa participation financière à ce service.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-2">
                                        <img src="/assets/images/professionnel/icone-6.png">
                                    </div>
                                    <div class="col-10">
                                        <span>N’oubliez pas : des employés heureux et en bonne santé sont souvent plus performants et motivés.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Block 05: Comment ça marche ? -->
            <div class="comment-ca-marche text-center">
                <h1>Comment ça marche ?</h1>
                <div class="row ">
                    <div class="col">
                        <img src="/assets/images/professionnel/icone-7.png" alt="">
                        <h2>1- La souscription</h2>
                        <h4>Faites-nous part de vos envies : Choisissez l’offre à laquelle vous souhaitez souscrire. Vous pouvez également établir un montant de participation par commande.</h4>
                    </div>
                    <div class="col">
                        <img src="/assets/images/professionnel/icone-8.png" alt="">
                        <h2>2- Installation</h2>
                        <h4>Nous nous chargeons de l’installation du service de livraison de panier de fruits et légumes bio au sein de votre entreprise</h4>
                    </div>
                    <div class="col">
                        <img src="/assets/images/professionnel/icone-9.png" alt="">
                        <h2>3- La communication</h2>
                        <h4>Pour lancer ce service, nous procédons à plusieurs événements communicationnels : dégustation, animations, …</h4>
                    </div>
                    <div class="col">
                        <img src="/assets/images/professionnel/icone-10.png" alt="">
                        <h2>4- Commandes</h2>
                        <h4>Chaque salarié est entièrement autonome. Il passe lui-même commande via notre site.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scroll Top Button -->
    <a class="btn-scroll-top"><i class="biolife-icon icon-left-arrow"></i></a>
</body>
{% endblock %}

{% block javascripts %}

{% endblock %}

