    <div class="main-slide block-slider nav-change type02 home-09__elm-01">
        <ul class="biolife-carousel nav-none-on-mobile" data-slick='{"arrows": true, "dots": false, "slidesMargin": 0, "slidesToShow": 1, "infinite": true, "speed": 800}' >
            <li>
                <div class="slide-contain biolife-slide__layout-nine biolife-slide__layout-nine--elm-02">
                    <!-- <div class="text-content">
                        <p class="text">Pour plus de goûts et de saveurs </p>
                    </div> -->
                </div>
            </li>
            <li>
                <div class="slide-contain biolife-slide__layout-nine biolife-slide__layout-nine--elm-01">
                    <!-- <div class="text-content">
                        <p class="text">Des Fruits et Légumes de Qualité</p>
                    </div> -->
                </div>
            </li>
        </ul>
    </div>