<div class="order-stepper-number">
    <div class="container">
        <ul class="progressbar">
            <li class="{% if app.request.get('_route') == 'account_order_step_one' %}active current_url {% elseif app.session.get('panier') %} active {% endif %}"> <a href="{{ path('account_order_step_one') }}"> Mon panier</a></li> 
            <li class="{% if app.request.get('_route') == 'account_order_step_two' %}active current_url {% elseif app.session.get('delivry') %} active {% endif %}"> <a href="{{ path('account_order_step_two') }}"> Livraison </a> </li>
            <li class="{% if app.request.get('_route') == 'account_order_step_three'%} active current_url {% endif %}"><a href="{{ path('account_order_step_three') }}"> Paiement </a> </li> 
        </ul>
    </div>
</div>
