<!-- FOOTER -->
    <footer id="footer" class="footer layout-01">
        <div class="footer-content background-footer-03">
            <div class="container">

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-xs-12">
                        <section class="footer-item">
                            <a href="home-01.html" class="logo footer-logo"><img src="/assets/images/logo/logo-bio.png" alt="biolife logo" width="135"></a>
                            <div class="footer-phone-info mode-03">
                                <i class="biolife-icon icon-head-phone"></i>
                                <p class="r-info">
                                    <span>Vous avez des questions?</span>
                                    <span class="number">04 70 35 08 96</span>
                                </p>
                            </div>
                            <div class="contact-info-block footer-layout simple-info">
                                <h4 class="title">Contact info</h4>
                                <div class="info-item">
                                    <img src="/biolife/assets/images/location-icon.png" width="22" height="26" alt="" class="icon">
                                    <p class="desc">Les Rondard 03210 Marigny </p>
                                </div>
                            </div>
                            <div class="biolife-social inline circle-hover">
                                <ul class="socials">
                                    <li><a href="#" title="twitter" class="socail-btn"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#" title="facebook" class="socail-btn"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#" title="pinterest" class="socail-btn"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                    <li><a href="#" title="youtube" class="socail-btn"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                    <li><a href="#" title="instagram" class="socail-btn"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-8 col-md-8 col-xs-12 ">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4 col-xs-12 md-margin-top-6px xs-margin-top-40px">
                                <section class="footer-item">
                                    <h3 class="section-title">Mon compte</h3>
                                    <div class="wrap-custom-menu vertical-menu-2">
                                        <ul class="menu">
                                            <li><a href="{{path('security_login')}}">Login</a></li>
                                            {# <li><a href="#">View Cart</a></li> #}
                                            <li><a href="#">Ma liste de souhaits</a></li>
                                            <li><a href="#">Suivi de commande</a></li>
                                            <li><a href="#">Aide</a></li>
                                            <li><a href="#">Notre blog</a></li>
                                        </ul>
                                    </div>
                                </section>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-xs-12 md-margin-top-6px xs-margin-top-40px">
                                <section class="footer-item">
                                    <h3 class="section-title">Pourquoi acheter nos paniers ?</h3>
                                    <div class="wrap-custom-menu vertical-menu-2">
                                        <ul class="menu">
                                            <li><a href="#">Envoi de commande et retour</a></li>
                                            <li><a href="#">Achat sécurisé</a></li>
                                            <li><a href="#">Commande à l'internationnal</a></li>
                                            <li><a href="#">Affiliation</a></li>
                                            {# <li><a href="#">Group Sales</a></li>
                                            <li><a href="#">Shipping & Returns</a></li> #}
                                        </ul>
                                    </div>
                                </section>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-xs-12 md-margin-top-6px xs-margin-top-40px">
                                <section class="footer-item">
                                    <h3 class="section-title">Information</h3>
                                    <div class="wrap-custom-menu vertical-menu-2">
                                        <ul class="menu">
                                            <li><a href="#">notre Blog</a></li>
                                            <li><a href="#">Sur la boutique</a></li>
                                            <li><a href="#">Achat sécurisé</a></li>
                                            <li><a href="#">Livraison</a></li>
                                            <li><a href="#">Politique de confidentialité</a></li>
                                            <li><a href="#">Plan du site</a></li>
                                        </ul>
                                    </div>
                                </section>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="footer-midle-pst">
                    <div class=" newsletter-block layout-04">
                        <div class="wrap-title">
                            <span class="biolife-icon icon-newsletter"></span>
                            <div class="texts">
                                <h3 class="newslt-title">Inscrivez-vous à notre newsletter</h3>
                                <p class="sub-title">Inscrivez-vous à notre newsletter pour des codes de réduction exclusifs</p>
                            </div>
                        </div>
                        <div class="form-content">
                            <form action="#" name="new-letter-foter" method="post">
                                <input type="email" class="input-text email" value="" placeholder="Votre e-mail...">
                                <button type="submit" class="bnt-submit" name="ok">S'inscrire</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- </div> -->

            </div>

            <div class="copy-rights-contain">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="copy-right-text">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <img src="/assets/images/demeter.jpeg" alt="">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <p>Copyright ©️ 2021 <b>Christophe Regnault.</b>Tous droits réservés. Conception et marketing Pixelsior.</p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="payment-methods">
                                <ul>
                                    <li><a href="#" class="payment-link"><img src="/biolife/assets/images/card3.jpg" width="51" height="36" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </footer>

    <!--Footer For Mobile-->
    <div class="mobile-footer">
        <div class="mobile-footer-inner">
            <div class="mobile-block block-menu-main">
                <a class="menu-bar menu-toggle btn-toggle" data-object="open-mobile-menu" href="javascript:void(0)">
                    <span class="fa fa-bars"></span>
                    <span class="text">Menu</span>
                </a>
            </div>
            <div class="mobile-block block-sidebar">
                <a class="menu-bar filter-toggle btn-toggle" data-object="open-mobile-filter" href="javascript:void(0)">
                    <i class="fa fa-sliders" aria-hidden="true"></i>
                    <span class="text">Sidebar</span>
                </a>
            </div>
            <div class="mobile-block block-minicart">
                <a class="link-to-cart" href="#">
                    <span class="fa fa-shopping-bag" aria-hidden="true"></span>
                    <span class="text">Cart</span>
                </a>
            </div>
            <div class="mobile-block block-global">
                <a class="menu-bar myaccount-toggle btn-toggle" data-object="global-panel-opened" href="javascript:void(0)">
                    <span class="fa fa-globe"></span>
                    <span class="text">Global</span>
                </a>
            </div>
        </div>
    </div>