<!-- FOOTER -->
    <footer id="footer" class="footer layout-01">
        <div class="footer-content background-footer-03">
            <div class="container">

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-xs-12">
                        <section class="footer-item">
                            <div class="row">
                                <div class="col-4">
                                    <a href="{{ path('home') }}" class="logo footer-logo"><img src="/assets/images/logo/logo-bio.png" alt="Natur'en vie logo" width="100"></a>
                                </div>
                                <div class="col-8">
                                    <h4 class="section-title">Contact info</h4>
                                    <div class="mode-03">
                                        <p class="r-info">
                                            <h3 class="number"><i class="fa-solid fa-phone pe-4"></i> 04 70 35 08 96</h3>
                                        </p>
                                    </div>
                                    <div class="contact-info-block footer-layout simple-info">
                                        <div class="info-item">
                                            <i class="fa-solid fa-location-dot"></i>
                                            <p class="desc">Les Rondard 03210 Marigny </p>
                                        </div>
                                    </div>
                                    <div class="biolife-social inline circle-hover">
                                        <ul class="social-list circle-layout">                                            
                                            <li><a href="https://www.instagram.com/nature_en_vie"><i class="fa-brands fa-linkedin"></i></a></li>
                                            <li><a href="https://www.instagram.com/nature_en_vie"><i class="fa-brands fa-instagram-square"></i></a></li>
                                            <li><a href="https://www.facebook.com/coinnat?_rdc=1&_rdr"><i class="fab fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </section>
                    </div>
                    <div class="col-lg-8 col-md-8 col-xs-12 ">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4 col-xs-12 md-margin-top-6px xs-margin-top-40px">
                                <section class="footer-item">
                                    <h3 class="section-title">Mon compte</h3>
                                    <div class="wrap-custom-menu vertical-menu-2">
                                        <ul class="menu">
                                            <li><a href="{{path('security_login')}}">Login</a></li>
                                            {# <li><a href="#">View Cart</a></li> #}
                                            <!-- <li><a href="#">Ma liste de souhaits</a></li>
                                            <li><a href="#">Suivi de commande</a></li> -->
                                        </ul>
                                    </div>
                                </section>
                            </div>
                            <!-- <div class="col-lg-4 col-sm-4 col-xs-12 md-margin-top-6px xs-margin-top-40px">
                                <section class="footer-item">
                                    <h3 class="section-title">Pourquoi acheter nos paniers ?</h3>
                                    <div class="wrap-custom-menu vertical-menu-2">
                                        <ul class="menu">
                                            <li><a href="#">Achat sécurisé</a></li>
                                        </ul>
                                    </div>
                                </section>
                            </div> -->
                            <div class="col-lg-4 col-sm-4 col-xs-12 md-margin-top-6px xs-margin-top-40px">
                                <section class="footer-item">
                                    <h3 class="section-title">Information</h3>
                                    <div class="wrap-custom-menu vertical-menu-2">
                                        <ul class="menu">
                                            <li><a href="#">Blog</a></li>
                                            <li><a href="{{path('presentation_ferme')}}">La ferme</a></li>
                                            <li><a href="#">Mentions Légales</a></li>
                                            <li><a href="#">Conditions Générale de Vente</a></li>
                                            <li><a href="#">Plan du site</a></li>
                                        </ul>
                                    </div>
                                </section>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="footer-midle-pst">
                    <div class="newsletter-block layout-04">
                        <div class="wrap-title">
                            <span class="biolife-icon icon-newsletter"></span>
                            <div class="texts">
                                <h3 class="newslt-title">Inscrivez-vous à notre newsletter</h3>
                                <p class="sub-title">Inscrivez-vous à notre newsletter pour des codes de réduction exclusifs</p>
                            </div>
                        </div>
                        <div class="form-content">
                            <form action="#" name="new-letter-foter" method="post">
                                <input type="email" class="input-text email" value="" placeholder="Votre e-mail...">
                                <button type="submit" class="bnt-submit" name="ok">S'inscrire</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

            <div class="copy-rights-contain">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="copy-right-text">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <img src="/assets/images/demeter.jpg" alt="demeter-logo" width="100">
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-3">
                                        <p>Copyright ©️ 2022 <b>Christophe Regnault.</b>Tous droits réservés. Conception et marketing <a href="https://pixelsior.fr/">Pixelsior</a>.</p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </footer>

    <!--Footer For Mobile-->
    <div class="mobile-footer">
        <div class="mobile-footer-inner">
            <div class="mobile-block block-menu-main">
                <a class="menu-bar menu-toggle btn-toggle" data-object="open-mobile-menu" href="javascript:void(0)">
                    <span class="fa fa-bars"></span>
                    <span class="text">Menu</span>
                </a>
            </div>
            <div class="mobile-block block-sidebar">
                <a class="menu-bar filter-toggle btn-toggle" data-object="open-mobile-filter" href="javascript:void(0)">
                    <i class="fa fa-sliders" aria-hidden="true"></i>
                    <span class="text">Sidebar</span>
                </a>
            </div>
            <div class="mobile-block block-minicart">
                <a class="link-to-cart" href="#">
                    <span class="fa fa-shopping-bag" aria-hidden="true"></span>
                    <span class="text">Cart</span>
                </a>
            </div>
            <div class="mobile-block block-global">
                <a class="menu-bar myaccount-toggle btn-toggle" data-object="global-panel-opened" href="javascript:void(0)">
                    <span class="fa fa-globe"></span>
                    <span class="text">Global</span>
                </a>
            </div>
        </div>
    </div>