/************************
*    Global Settings    *
*************************/
body{
    background-color: #eec900 !important;
    /* font-size: 12px; */
}
html{
    font-size: 10px;
}

.row{
    margin-right: auto;
    margin-left: auto;
}

nav #menu-profil-admin{
    left: -100px;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-left: 0px;
}

@media (max-width: 766px) {
    nav #menu-profil-admin{
        left: 0px;
    }
}

@media (min-width: 576px){
    .container-sm {
        max-width: 1304px;
    }
}

@media (max-width: 853px) {
    .side-bar-column, .empty-col-table-head, .table-hidden-sm-col{
        display: none;
    }

    .content-table-body {
        padding: 0px!important;
        margin-left: 0px!important;
    }

}
@media (max-width: 460px) {
    .table-hidden-xs-col{
        display: none;
    }

    .bg-glass2{
        padding: 4px;
    }
}