
        .button1{
            background-color: #72ad43;
            color: white;
            font-weight: 700;
        }


        .biolife-banner__style-16 .link-cat{
            top: 492px;
            left: 27%;
            right: 27%;
            color: aliceblue;
            background-color: #c5d5d58c;
        }

        .biolife-banner__style-17 .link-cat, .biolife-banner__style-17_02 .link-cat{
            top: 227px;
            left: 35%;
            right: 35%;
            color: aliceblue;
            background-color: #c5d5d58c;
            font-size: large;
        }

        .button_subscription{
            margin: auto;
            width: 50%;
            font-size: 23px;
            padding: 2px;
        }

        .button_sub_grand_panier{
            margin: auto;
            font-size: 23px;
            padding: 2px;
            z-index: 90;
        }

        .panier-sur-mesure-block .button_subscription{
            width: 29%;
        }


        /** Desktop device */
        @media (max-width: 1214px) and (min-width: 991px){
            .button_subscription{
                width: 57%;
            }
            .button_sub_grand_panier{
                margin-top: -50px;
                z-index: 50000000;
                position: absolute;
            }
            .panier-sur-mesure-block .button_subscription{
                width: 33%;
            }
        }
        @media (max-width: 992px) and (min-width: 768px){  
            .button_subscription{
                width: 75%;
            }

            .button_sub_grand_panier{
                margin-top: -111px;
            }
            .panier-sur-mesure-block .button_subscription{
                width: 50%;
            }
        }

        @media (max-width: 768px) and (min-width: 575px){  
            .button_subscription{
                width: 94%;
            }

            .button_sub_grand_panier{
                margin-top: -150px;
            }
            .panier-sur-mesure-block .button_subscription{
                width: 60%;
            }
        }
        
    
        @media (max-width: 1199px){
            .biolife-banner__style-16 .link-cat{
                top: 464px;
            }    

            .biolife-banner__style-17 .link-cat, .biolife-banner__style-17_02 .link-cat{
                font-size: initial;
            }    

            .biolife-slide__layout-nine  {
                margin-top: -154px;
                background-size: contain;
            }
            
        }

        /** Tablet device */
        @media (max-width: 970px){
            .biolife-banner__style-16 .link-cat{
                top: 411px;
            }    
            .biolife-banner__style-17 .link-cat, .biolife-banner__style-17_02 .link-cat{
                left: 29%;
                right: 29%;
            }    


        }

        @media (max-width: 744px){
            .biolife-banner__style-16 .link-cat{
                top: 374px;
                padding: 7px;
            }  
            .biolife-banner__style-17 .link-cat, .biolife-banner__style-17_02 .link-cat{
                padding: 7px;
                top: 221px;
            }  

            .biolife-slide__layout-nine  {
                background-size: cover;
                margin-top: 1px;
            }  
            
        }

        @media (max-width: 570px){
            .biolife-slide__layout-nine  {
                margin-top: -112px;
                background-size: 500px;
            }
            
            .biolife-banner__style-17 .media{
                height: 571px;
            }
            
            .biolife-banner__style-17_02 .media{
                height: 571px;
            }         
            .biolife-banner__style-p_sur_mesure .media{
                height: 571px;
            }

            .biolife-banner__style-16 .link-cat, .biolife-banner__style-17 .link-cat, .biolife-banner__style-17_02 .link-cat{
                top: 469px;
            }  


            .button_subscription{
                width: 100%;
                margin-top: -81px;
                z-index: 90;
            }

            .button_sub_grand_panier{
                width: 100%;
                margin-top: -81px;

            }
            .panier-sur-mesure-block .button_subscription{
                width: 100%;
                margin-top: -81px;
                z-index: 90;

            }
            
        }
        
        /** Mobile device */
        @media (max-width: 370px){
            .biolife-banner__style-16 .link-cat, .biolife-banner__style-17 .link-cat, .biolife-banner__style-17_02 .link-cat{
                top: 413px;
                padding: 7px;
            }    
        }

        .txt-show-01{
            padding-top: 70px;
        }

        @media (max-width: 600px){
            .txt-show-01{
                padding-top: 155px;
            }
        }

        .discover-btn-block{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .discover-btn-block .button{
            padding: 20px 40px;
        }

        @media (max-width: 450px) {
            .biolife-banner__style-16 .link-cat, 
            .biolife-banner__style-17 .link-cat, 
            .biolife-banner__style-17_02 .link-cat{
                top: 73%;
            }
        }
        

        @media (max-width: 360px) {
            .biolife-banner__style-16 .link-cat, 
            .biolife-banner__style-17 .link-cat, 
            .biolife-banner__style-17_02 .link-cat{
                top: 71%;
            }
        }
        

        @media (max-width: 300px) {
            .biolife-banner__style-16 .link-cat, 
            .biolife-banner__style-17 .link-cat, 
            .biolife-banner__style-17_02 .link-cat{
                top: 66%;
            }
        }
        
    

        .panier-sur-mesure-block{
            margin-top: 95px;
        }
        .panier-sur-mesure-block .title-cart{
            font-size: 30px;
            font-weight: 700;
            color: #222222;
            display: block;
            line-height: 1;
        }

        @media (min-width: 992px){
            .panier-sur-mesure-block .title-cart {
                font-size: 40px;
            }
        }