{% extends 'base.html.twig' %}

{% block title %} Historique des commandes {% endblock %}

{% block body %}
<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Prix</th>
          <th scope="col">Type de livraision</th>
          <th scope="col">Date de commande</th>
          <th scope="col">Panier</th>
        </tr>
      </thead>
      <tbody>
       {% for myOrder in myOrders %}
            <tr>
                <td>{{ myOrder.totalPrice }} €</td>
                <td>{{ myOrder.delivryType }}</td>
                <td>{{ myOrder.createdAt|date() }}</td>
                <td> <a href="{{path('account_order_cart_show', {id: myOrder.id}) }}">Consulter</a> </td>
            </tr>
       {% endfor %}
      </tbody>
    </table>
</div>


{% endblock %}

