{% extends 'base.html.twig' %}

{% block title %} Test curl !{% endblock %}

{% block body %}
    <div class="container">
        <a href="{{ path('create_contact') }}">Ajout contact</a>
    </div>

{% endblock %}