{% extends 'base_admin.html.twig' %}

{% block title %}Ajout produit{% endblock %}
{% block stylesheets %}
    <style>
        #product_referenceId[readonly]{
            cursor: not-allowed;
            background-color: #cfcfcf85;
        } 
    </style>
{% endblock %}

{% block body %}

<div class="container my-5">
    <div class="bg-glass2">
        <h1 class="text-center fw-bold">Ajout produit</h1>
        {{ include ('admin/product/_product_form.html.twig', {btn_class : 'btn-primary'}) }}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="/assets/js/product/_product_form.js"></script>
{% endblock %}