{% extends 'base_admin.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

<div class="container mt-5">
    <h1>Modification produit ✅</h1>
       {{ include ('admin/product/_product_form.html.twig', {button : 'Enregistrer', btn_class : 'btn-success'} ) }}
</div>
{% endblock %}
