{% extends 'base.html.twig' %}

{% block title %}Nos paniers!{% endblock %}

{% block stylesheets %}
    <style>
        .subscription-list-block{
            margin-top: -190px;

            background-color: #ffff;
            align-items: center;
            border-radius: 5%;
            padding-left: 20px;
            padding-top: 150px;
            
        }

        .text-content2{
            top: 13vw!important;
        }

        .banner-media-layout-01__mobile{
            height: 1490px;
        }

        #header{
            position: relative;
            margin-bottom: 100px;
        }

        
    </style>
      <link rel="stylesheet" href="{{ asset('/assets/css/list_subscription.css')}}">
{% endblock %}

{% block body %}
    <div class="container my-5">
        <!-- block card subscription  -->
        {% include "partials/subscription/_list_subscription2.html.twig" %}
    </div>
   
</body>

{% endblock %}