{% extends 'base.html.twig' %}

{% block title %}Ferme!{% endblock %}

{% block stylesheets %}
    <style>
        
        .fond-ruban{
            float: left;
            background-size: auto;
        
            background: url('/images/fond-article.png')no-repeat center top;
            background-color: #a3a276;
            background-size: contain;
            width: 100%;  
            padding: 20px 170px;
        }
        .fond-ruban .content-text{
            background-color: rgb(255, 255, 255);   
        }

        .content-text h1{
            font-family: 'Amatic SC', cursive;
            color: #89b17a;
            padding: 30px;
            text-align: center;
        }

        .content-text h3{
            color: #89b17a;;
        }

        
    </style>
{% endblock %}

{% block body %}

    <body>
        <div class="container">
            <div class="fond-ruban">
                <div class="content-text" style="padding: 30px;">
                   
                    <h1>Présentation de la ferme</h1>
                    <p>La SCEA les sabots d’argile est créée en 2009 par Alain et Christophe ,cinquième d’une fratrie de 6 enfants. Elle cultive les terres argilo-calcaires de la SCI Les Rondards sur une surface d’environ 14 hectares de légumes de pleine terre, 2.3 hectares de serres froides et 3 hectares de prairies pour la faune et la flore auxiliaires.</p>
                    <p>Le climat semi-continental du Bourbonnais et les terres très lourdes nous obligent à relever un double défi au quotidien, c’est pourquoi nous nous efforçons de ne produire que ce que la terre et le climat nous permettent sans trop d’artifices.</p>
                    <p>Elle emploie selon la saison entre 12 et 25 salariés managés par Nicolas et Jonathan.</p>
                    <p>Alain assurait la partie technique et Christophe gère le commerce et les finances parallèlement à son activité de maraîcher.</p>
                    <p>Au départ en retraite d’Alain, en 2019, le statut juridique de la société est transformé en EURL. </p>
                    <p>Sur le point de vue technique, Nicolas a été promu au poste de responsable de culture, il assure la qualité et la continuité du travail réalisé jusque là tout en conservant un soutien ponctuel d’Alain.</p>

                    <h3> Le parc de matériel agricole :</h3>
                    <p>La taille de l’entreprise nécessite la possession d’un parc de matériel conséquent à sa disposition. (6 tracteurs, 1 roto bêches,1 fraise, 2 cultirateaux, 5 semoirs, 2 planteuses, 2 herses étrilles, 1 bineuse, 1 herse rotative, 2 broyeurs d’engrais vert, 1 équeuteuse d’oignons, 2 récolteuses, 4 enrouleurs canon pour l’irrigation, 4 quads équipés de leur remorque, 2 dynamiseurs, 1 “pulvé” pour les préparations biodynamiques, 2 épandeurs à compost, 2 presses mottes pour le plant, plusieurs cultivateurs ou canadiens et de multiples petits matériels).</p>

                    <h3>Producteurs de plants :</h3>
                    <p>Nous sommes également producteurs de plants maraîchers (reconnus par le GNIS) pour satisfaire nos propres besoins ainsi que ceux d’une trentaine de collègues producteurs. Plus de 2 millions de plants sont produits chaque année . Environ 45% de ces plantes sont pour nous. Ils sont préparés à l’aide des presses mottes équipées de leur semoir afin d’en semer le moins possible manuellement …</p>
                    
                    <h3>La production de légumes :</h3>
                    <p>La EURL vend environ la moitié de sa production en gros à Rungis et à divers commerçants détaillants, l’autre moitié au détail au travers de la SAS Au coin nature.</p>
                    
                     <hr>
                    
                    <h1> Un peu d’histoire</h1>
                    <p> Historiquement, Alain et Christine s’installent en maraîchage biologique en 1976 à Bourbon l’Archambault et vendent leurs premières récoltes sous l’ancien marché couvert de Moulins.</p>
                    <p> Ils pratiquent la biodynamie en 1984 (marque DEMETER) lorsqu’ils déplacent leur maraîchage à Marigny sur la ferme paternelle en polyculture élevage alors en bio depuis 1970.</p>
                    <p> Le maraîchage s’agrandit alors d’environ 1 hectare chaque année et en 1989 les 115 hectares de la ferme polyculture élevage paternelle sont repris et conduits en biodynamie également.</p>
                    <p> La reprise de cette ferme assure une autonomie de compost pour la fertilisation des légumes. A cette époque nous produisions de la viande bovine, viande porcine transformée en charcuterie et la farine de nos blés en plus de nos légumes.</p>
                    <p> Cette situation idyllique a connu sa fin en 2004 pour des raisons familiales regrettables et « uniquement » l’activité maraîchère a perduré et s’est développée pour atteindre la taille actuelle.</p>
                    <p> C’est en 2009 que la SCEA Les sabots d’argile a été créée entre Alain et Christophe, puis en 2019 Alain prend sa retraite et la SCEA est transformée en EURL.</p>

                     <hr>

                    <h1>Notre engagement qualité</h1>
                    <p>Nous travaillons sous la certification DEMETER depuis bientôt 30 ans maintenant.</p>
                    <p>Demeter est la marque des produits de l’agriculture biodynamique certifiée.</p>
                    <p>Elle est présente dans plus de 50 pays, sur tous les continents.</p>
                    <p>En France, nous sommes 430 producteurs et viticulteurs et 70 autres entreprises à être aujourd’hui certifiés et à vous garantir des aliments de qualité.</p>
                    <p>Nous nous engageons quotidiennement pour un futur respectueux des hommes et de la terre et nous vous apportons des aliments vivants et savoureux.</p>
                    <p>Un contrôle et une certification sont obligatoires chaque année pour nous.</p>
                    <p>L’approche holistique de Demeter dépasse le seul respect des cahiers des charges européens de l’agriculture biologique.</p>
                    <p>Il ne s’agit pas uniquement d’exclure l’utilisation de produits chimiques de synthèse en agriculture.</p>
                    <p>Nous travaillons quotidiennement pour renforcer les processus de vie dans le sol qui donneront des plantes et des aliments savoureux pour vous tous, chers consommateurs.</p>
                </div>
            </div>
        </div>     
    </body>
 
{% endblock %}

