{% extends 'base.html.twig' %}

{% block title %}La ferme{% endblock %}

{% block stylesheets %}
  <style>
    .body-la-ferme{
      margin-top: 301px;
    }

    p span.third-line-child{
      display: inline-block;
      margin: 0;
      font-size: 15px;
      line-height: 24px;
      color: #fff;
      margin-top: 10px;
    }

    .biolife-slide__ten.biolife-slide__ten--elm-02 .text-content .first-line{
      font-size: 49px;
      font-size: 51px; 
      color: #856b6b;
    }
    .biolife-slide__ten.biolife-slide__ten--elm-02 .text-content .third-line{
      color: #833d3d;
    }
    
  </style>
{% endblock %}

{% block body %}
    <div class="body-la-ferme">
      <!-- Block 01: Main slide block-->
      <div class="main-slide block-slider home-10__elm-01">
          <ul class="biolife-carousel nav-none-on-mobile nav-insite-grid-1170 nav-larger" data-slick='{"arrows": true, "dots": false, "slidesMargin": 0, "slidesToShow": 1, "infinite": true, "speed": 800}' >
              
              <li>
                  <div class="slide-contain biolife-slide__ten biolife-slide__ten--elm-01">
                      <div class="media"></div>
                      <div class="text-content">
                          <b class="first-line">Présentation de la ferme</b>
                          <!-- <b class="second-line">100% Fresh</b> -->
                          <p class="third-line">
                            La ferme est cultivée sur les terres argilo-calcaires de la SCI Les Rondards, sur une surface d’environ 14 hectares de légumes, 2.3 hectares de serres froides et 3 hectares de prairies pour la faune et la flore auxiliaires.
                            Notre principal défi : cultiver à travers une terre lourde et un climat semi-continental du Bourbonnais, c’est pourquoi nous nous efforçons de ne produire que ce que la terre et le climat nous permettent, sans trop d’artifices.
                          </p>
                          <p>
                            <span class="third-line-child text-start">
                               Matériels utilisés : <br>
                              - 6 tracteurs<br>
                              - 1 roto-bêche, etc.
                            </span>
                          </p>

                      </div>
                  </div>
              </li>
              <li>
                  <div class="slide-contain biolife-slide__ten biolife-slide__ten--elm-02">
                      <div class="media"></div>
                      <div class="text-content">
                          <b class="first-line">Notre engagement qualité</b>
                          <p class="third-line">
                            Nous travaillons sous la certification DEMETER depuis bientôt 30 maintenant. Il s’agit de la marque des produits de l’agriculture biodynamique certifiée, présente dans plus de 50 pays sur tous les continents. <br>
                            En France, nous sommes 430 producteurs/viticulteurs, et près de 70 autres entreprises certifiées à vous garantir des aliments de qualité. Chez Nature En Vie, nous nous engageons quotidiennement pour un futur respectueux des hommes et de la terre en vous apportant des aliments vivants et savoureux.
                          </p>
                      </div>
                  </div>
              </li>
          </ul>
      </div>
    </div>
{% endblock %}
